*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-con{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}

.heading{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-top: 40px;
}

.content{
    margin-left: 1rem;
    margin-top: 50px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,400px));
    justify-content: center;
    grid-gap: 3rem;
    padding: 2rem;
    
}


.image{
    position: relative;
    height: 375px;
    width: 350px;
    filter: grayscale(100%);
    object-fit: cover;

}

img{
    position: absolute;
    height: 100%;
    width: 90%;
    object-fit: cover;
    border-radius: 10px;
    z-index: -1;
}

h3{
    display: none;
}

.image:hover{
    h3{
        display: block;
        color: white;
        margin-top: 320px;
        margin-left: 10px;
    }
    filter: grayscale(0%);
    transform: scale(1.1);
    transition: 0.5s;
    filter: drop-shadow(0 0 10px #333);
}
